## Data cleaning

In the reality, we have some unusual data, before we input the data, we need to perform the data cleaning.
1. Unusual color code that only used once  2. Fail rate

In [60]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import numpy as np

Importing the first dataframe: ordercolor transition report

In [3]:
df1 = pd.read_excel('../data/OrderColorTransitionsReport 1_1_17 - 4_22_19.xlsx',
              header=205, usecols=[0,1,4,5,7,8,9,11,12])

In [4]:
df1.head()

,Cast Order,Color,Next Cast Order,Next Color Code,Cast Start,Cast End Time,Total Sheets,AGrade Sheets,Transition Sheets
0,11570714,1M,11569110,CW,08/02/17 15:13,08/02/17 15:54,103,1,124
1,11570714,1M,11569110,CW,08/02/17 16:00,08/02/17 16:39,97,NaN,109
2,11570714,1M,11569110,CW,08/02/17 20:50,08/02/17 21:15,61,NaN,173
3,11570714,1M,11569110,CW,08/03/17 15:15,08/03/17 15:53,93,NaN,95
4,11570714,1M,11569110,CW,08/03/17 20:28,08/04/17 03:10,984,895,88

In [20]:
a = df1.iloc[0,8]
a = int(a)
a
if df1.iloc[0,0] == df1.iloc[1,0]:
    print('good')

good

In [79]:
def Select(color1, color2):
    color = df1['Color'] == color1
    nextcolorcode = df1 ['Next Color Code'] == color2
    ndf = df1[color & nextcolorcode]
    #return ndf
    s = 0
    n = 0
    for i in range(len(ndf)-1):
        if ndf.iloc[i,0] == ndf.iloc[i+1,0]:
            n = n + 1
    for a in range(n):
        s = s + int(ndf.iloc[n,8])
    print (color1 , color2)
    print ('the number of this cycle:', n)
    print ('total sheet loss:', s)

In [83]:
print(len(df1['Color'].unique()))
print(len(df1['Next Color Code'].unique()))

267
269

In [82]:
con = 0
for i in range(len(df1)-1):
    if df1.iloc[i,0] != df1.iloc[i+1,0]:
        con = con + 1
print (con, len(df1))

3480 4189

In [81]:
Select('1M', 'CW')

1M CW
the number of this cycle: 4
total sheet loss: 352

In [105]:
print(len(df1['Color'].unique()))

267

Calculating the # of differnt cast oder in unique color

In [110]:
for i in range(len(df1['Color'].unique())):
    color1 = a[i]
    color = df1['Color'] == color1
    ndf2 = df1[color]
    for n in range (len(ndf2)-1):
        cast_order = 0
        if df1.iloc[n,0] != df1.iloc[n+1,0]:
            cast_order = cast_order  + 1
    print (color1 , cast_order)

1M 1
2W 0
3D 1
3N 1
3Y1 0
3Z7 0
4B 1
4Z1 0
4Z2 1
4Z3 1
5A 0
6H2 0
6H3 0
6N 0
7B 1
7M 0
7R 1
7T 0
9H 1
9I 1
9J 0
9P 0
AA 1
AB 1
AE 0
AH 0
AI 0
AN 0
AO 0
AQ 1
AR 1
AT 0
AW 1
B2 1
B3 1
B4 1
B5 1
BD 1
BE 1
BF 1
BH 1
BI 0
BK 0
BL 0
BM 1
BN 0
BQ 0
BR 0
BST 0
CB 0
CC 1
CJ 1
CL 1
CN 1
CO 1
CS 1
CT 1
CV 1
CW 1
CX 0
CXA 0
DA 0
DD 0
DH 1
DI 1
DJ 0
DM 1
DMN 0
DN 0
DO 1
DS 0
DT 0
DV 1
DY 0
EA 0
EC 1
ED 0
EP 1
ER 0
EV 0
EY 0
EZ 1
FA 0
FB 0
FD 1
FF 1
FH 0
FJ 1
FK 0
FL 1
FM 0
FN 1
FO 1
FP 1
FQ 1
FR 0
FS 1
FT 1
FU 1
FV 1
FVM 0
FW 1
FY 1
G5 1
G6 1
G7 1
GB 0
GC 1
GD 0
GF 0
GG 1
GM 1
GN 1
GO 1
GS 1
GT 1
GV 1
GW 1
GY 1
HA 1
HX 1
HXA 0
IL 1
IM 0
IP 1
IY 1
JB 0
JC 1
JF 0
JP 0
JV 0
LGN 1
LH 1
LI 0
LL 0
LN 0
LT 1
M1 0
MB 0
MH 1
MN 1
MO 1
MP 1
MS 0
MT 1
MV 0
MW 1
MX 1
N3 1
NE 1
NF 0
NL 1
NP 0
NR 1
NS 0
NX 1
NXA 0
OA 1
OT 1
PBL 1
PG 1
PN 1
PO 1
PX 0
Q3 0
Q4 0
Q5 0
Q6 0
Q8 0
QM 0
R3 1
RC 1
RD 0
RF 1
RI 1
RL 0
RO 0
RP 1
RR 0
RU 1
RV 1
SD 1
SF 0
SH 0
SI 1
SK 0
SL 1
SM 0
SN 0
SP 1
SR 1
SS 0
SV 1
SX 1
TA 0
TD 0
TE 0
TF 1
TO 1
TS 1
TU 0
TY 1
U5 1
UB 1
UH 1
UIM 1
UR 0
UWG 0
UX 1
V1 0
VD 1
VDT 1
VE 0
VF 0
VH 1
VI 1
VL 0
VM 1
VN 0
VO 0
VQ 0
VU 0
VV 0
VX 0
VY 1
VZ 0
W2 1
W3 0
W5 1
W7 1
WC 1
WE 0
WG 1
WH 0
WI 0
WJ 0
WM 1
WN 1
WX 0
WXA 0
XD 0
XE 1
XG 0
XN 0
XP 0
XW 1
YL 1
ZC 1
ZE 0
ZG 1
ZI 1
ZJ 0
ZL 0
ZM 0
ZN 1
ZO 0
ZP 0
ZQ 0
ZR 1
ZS 1
ZT 1
ZU 0
ZV 1
ZW 1
ZX 1
ZY 0
ZZ 1

In [135]:
for o in range(len(df1['Color'].unique())):
    color = a[o]
    color = df1['Color'] == color
    ndf2 = df1[color]
    #print (color1)
    s1 = 0
    s2 = 0
    n1 = 0
    n2 = 0
    for i in range(len(ndf2)-1):
        if ndf2.iloc[i,0] == ndf2.iloc[i+1,0]:
            n1 = n1 + 1
        else:
            n2 = n2 + 1
    for a in range(n1):
        s1 = s1 + int(ndf2.iloc[n1,8])
    for b in range(n2):
        s2 = s2 + int(ndf2.iloc[n1+n2,8])
    print (color, n1, n2, s1, s2)

TypeError: 'int' object is not subscriptable

In [126]:
a = list(df1['Color'].unique())
a[0]

'1M'

In [ ]:
def Select(color1, color2):
    color = df1['Color'] == color1
    nextcolorcode = df1 ['Next Color Code'] == color2
    ndf = df1[color & nextcolorcode]
    #return ndf
    s = 0
    n = 0
    for i in range(len(ndf)-1):
        if ndf.iloc[i,0] == ndf.iloc[i+1,0]:
            n = n + 1
    for a in range(n):
        s = s + int(ndf.iloc[n,8])
    print (color1 , color2)
    print ('the number of this cycle:', n)
    print ('total sheet loss:', s)

In [22]:
Select('1M' , 'CW')

,Cast Order,Color,Next Cast Order,Next Color Code,Cast Start,Cast End Time,Total Sheets,AGrade Sheets,Transition Sheets
0,11570714,1M,11569110,CW,08/02/17 15:13,08/02/17 15:54,103,1,124
1,11570714,1M,11569110,CW,08/02/17 16:00,08/02/17 16:39,97,NaN,109
2,11570714,1M,11569110,CW,08/02/17 20:50,08/02/17 21:15,61,NaN,173
3,11570714,1M,11569110,CW,08/03/17 15:15,08/03/17 15:53,93,NaN,95
4,11570714,1M,11569110,CW,08/03/17 20:28,08/04/17 03:10,984,895,88
5,11636116,1M,11637958,CW,04/13/18 22:56,04/14/18 11:27,"1,088",391,69

Importing the second dataframe: variable cost per sheet

In [5]:
df2 = df_desc = pd.read_excel('../data/Variable cost per sheet.xlsx',
                header=3)

In [6]:
df2.head()

,Line,CC DIM,D code,2019 GLBL STD,Super Clean,Demand,Sales Rank,Sales Rank Cat,Family,Sub Family,...,Color,Sub Family Number,Sequence,VCOM,TCOM,Mean Trans Loss,Transition penalty,Family Transition Cost,Transition Cost,Update Family Seq
0,CSL2,3D1/2,D12516781,NM,NaN,2693,107,R5 101+,Standard,Genesis,...,Clay,2,44.0,117.357384,156.761945,105.846154,NaN,NaN,12421.827745,2
1,CSL2,4B1/2,D13901285,Std,NaN,5189,83,R4 51-100,Standard,Lustra,...,Sparkling White,3,58.0,155.064526,208.946769,41.400000,NaN,NaN,6419.671385,3
2,CSL1,7B1/2,D11975095,Std,NaN,5475,26,R2 11-30,Granite,Summit,...,Maui,2,20.0,125.609690,187.432048,27.600000,NaN,NaN,3466.827448,2
3,CSL2,AA1/2,D12361842,Std,NaN,6566,94,R4 51-100,Granite,Artisan,...,Lava Rock,1,6.0,146.220113,212.491799,36.916667,11187.0,NaN,16584.959182,1
4,CSL1,AB1/2,D11972996,Std,NaN,10840,15,R2 11-30,Granite,Summit,...,Abalone,2,19.0,115.219542,171.037488,44.500000,NaN,NaN,5127.269602,2

### 1. For the unsusal color code

To see how many unique color in the color and next color code.

In [21]:
print(len(df1['Color'].unique()))
print(len(df1['Next Color Code'].unique()))

267
269

In [23]:
print(list(set(df1['Color'].unique()) - set(df1['Next Color Code'].unique())))
print(list(set(df1['Next Color Code'].unique()) - set(df1['Color'].unique())))

[]
['DP', 'dv']

In [38]:
uc = ['DP', 'dv']

In [41]:
df1.loc[df1['Next Color Code'].isin(['DP', 'dv'])]

,Cast Order,Color,Next Cast Order,Next Color Code,Cast Start,Cast End Time,Total Sheets,AGrade Sheets,Transition Sheets
887,11621393,CW,11621091,dv,02/10/18 03:42,02/10/18 14:54,"1,004",971,14
3512,11548686,W5,11552521,DP,05/31/17 00:25,05/31/17 03:19,254,142,76

Find the unsual color code in the data frame and delete it

In [42]:
len(df1)

4189

In [63]:
newdf1 = df1.set_index('Next Color Code')
newdf1 = newdf1.drop(['DP', 'dv'], axis=0)

In [79]:
newdf2 = df1.set_index('Next Color Code')
newdf2 = newdf2.drop(list(set(df1['Next Color Code'].unique()) - set(df1['Color'].unique())), axis=0)

In [64]:
len(newdf1)

4187

Creating a new dataframe without the unusual color code named newdf1

define a function to delete the unusual data

In [80]:
def delete_unusualcolor(path):
    df1 = pd.read_excel(path,
              header=205, usecols=[0,1,4,5,7,8,9,11,12])
    print('the length of df1 is', len(df1))
    print('the number of unique color', len(df1['Color'].unique()))
    print('the number of unique next color', len(df1['Next Color Code'].unique()))
    print('the unique color exists in the color',
          (set(df1['Color'].unique()) - set(df1['Next Color Code'].unique())))
    print('the unique color exists in the next color',
          list(set(df1['Next Color Code'].unique()) - set(df1['Color'].unique())))
    newdf1 = df1.set_index('Next Color Code')
    newdf1 = newdf1.drop(list(set(df1['Next Color Code'].unique()) - set(df1['Color'].unique())), axis=0)
    print('the length of newdf1 is', len(newdf1))

nosetest

In [83]:
import pandas as pd
#import delete_unusualcolor as du

def test_delete_unusualcolor():
    path = '../data/OrderColorTransitionsReport 1_1_17 - 4_22_19.xlsx'
    du(path)
    df1 = pd.read_excel('../data/OrderColorTransitionsReport 1_1_17 - 4_22_19.xlsx')
    assert df1.empty == False,'you cannot put in an empty datafrmae'

### 2. For the fail rate

In [17]:
print (df1['AGrade Sheets'].isnull())

0       False
1        True
2        True
3        True
4       False
        ...
4184     True
4185    False
4186    False
4187     True
4188    False
Name: AGrade Sheets, Length: 4189, dtype: bool

The total number of number of failing sheets

In [69]:
print ('total number of our data is', len(df1))

total number of our data is 4189

In [70]:
print ('the fail sheets number is', (df1['AGrade Sheets'].isnull().sum()))

the fail sheets number is 919

In [11]:
fail_rate = ['NA']

## data collecting
### right now we are tring to use the color code and transition sheet as our parameters

## creating dataframe