## In the product wheel, we are trying to use thr transition sheets loss as our standards to reduce the cost

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import numpy as np

## Importing the first dataframe: ordercolor transition report

In [2]:
df1 = pd.read_excel('../data/OrderColorTransitionsReport 1_1_17 - 4_22_19.xlsx',
              header=205, usecols=[0,1,4,5,7,8,9,11,12])

In [3]:
df1

,Cast Order,Color,Next Cast Order,Next Color Code,Cast Start,Cast End Time,Total Sheets,AGrade Sheets,Transition Sheets
0,11570714,1M,11569110,CW,08/02/17 15:13,08/02/17 15:54,103,1,124
1,11570714,1M,11569110,CW,08/02/17 16:00,08/02/17 16:39,97,NaN,109
2,11570714,1M,11569110,CW,08/02/17 20:50,08/02/17 21:15,61,NaN,173
3,11570714,1M,11569110,CW,08/03/17 15:15,08/03/17 15:53,93,NaN,95
4,11570714,1M,11569110,CW,08/03/17 20:28,08/04/17 03:10,984,895,88
...,...,...,...,...,...,...,...,...,...
4184,12680081,ZZ,12680016,FD,10/17/18 02:48,10/17/18 03:05,41,NaN,62
4185,12942062,ZZ,12942105,FN,03/13/19 04:17,03/13/19 05:53,202,196,13
4186,11569105,ZZ,11560454,TO,07/27/17 16:44,07/29/17 03:51,"1,142",823,32
4187,11632092,ZZ,11632123,VU,03/29/18 07:38,03/29/18 07:41,9,NaN,10
4188,11604548,ZZ,11597009,W7,12/13/17 02:09,12/14/17 13:28,269,251,NaN

In [4]:
## take a look at the datatype
df1.dtypes

Cast Order            int64
Color                object
Next Cast Order       int64
Next Color Code      object
Cast Start           object
Cast End Time        object
Total Sheets         object
AGrade Sheets        object
Transition Sheets    object
dtype: object

In [5]:
## delete , and convert the object to int64
df1['AGrade Sheets'] = pd.to_numeric(df1['AGrade Sheets'].str.replace(',', ''))
df1['Transition Sheets'] = pd.to_numeric(df1['Transition Sheets'].str.replace(',', ''))
df1['Total sheets'] = pd.to_numeric(df1['Total Sheets'].str.replace(',', ''))
## convert the NaN to 0
df1 = df1.fillna(0)

In [166]:
df1

,Cast Order,Color,Next Cast Order,Next Color Code,Cast Start,Cast End Time,Total Sheets,AGrade Sheets,Transition Sheets,Total sheets
0,11570714,1M,11569110,CW,08/02/17 15:13,08/02/17 15:54,103,1.0,124.0,103
1,11570714,1M,11569110,CW,08/02/17 16:00,08/02/17 16:39,97,0.0,109.0,97
2,11570714,1M,11569110,CW,08/02/17 20:50,08/02/17 21:15,61,0.0,173.0,61
3,11570714,1M,11569110,CW,08/03/17 15:15,08/03/17 15:53,93,0.0,95.0,93
4,11570714,1M,11569110,CW,08/03/17 20:28,08/04/17 03:10,984,895.0,88.0,984
...,...,...,...,...,...,...,...,...,...,...
4184,12680081,ZZ,12680016,FD,10/17/18 02:48,10/17/18 03:05,41,0.0,62.0,41
4185,12942062,ZZ,12942105,FN,03/13/19 04:17,03/13/19 05:53,202,196.0,13.0,202
4186,11569105,ZZ,11560454,TO,07/27/17 16:44,07/29/17 03:51,"1,142",823.0,32.0,1142
4187,11632092,ZZ,11632123,VU,03/29/18 07:38,03/29/18 07:41,9,0.0,10.0,9
4188,11604548,ZZ,11597009,W7,12/13/17 02:09,12/14/17 13:28,269,251.0,0.0,269

## Transition loss for df1

In [124]:
ndf1 = df1.groupby(['Color','Next Color Code']).agg({'Transition Sheets':
                                           ['mean', 'std', 'min', 'max', 'count'],'AGrade Sheets':['sum']})
ndf1.columns = ['ts_mean', 'ts_std', 'ts_min', 'ts_max', 't_count','AGS_sum']
ndf1 = ndf1.reset_index()
ndf1

,Color,Next Color Code,ts_mean,ts_std,ts_min,ts_max,t_count,AGS_sum
0,1M,CW,109.666667,36.208655,69.0,173.0,6,1287.0
1,1M,WN,9.000000,NaN,9.0,9.0,1,1.0
2,2W,IP,2.500000,2.121320,1.0,4.0,2,0.0
3,2W,NF,42.000000,NaN,42.0,42.0,1,46.0
4,2W,VY,20.000000,NaN,20.0,20.0,1,0.0
...,...,...,...,...,...,...,...,...
2408,ZZ,FD,33.666667,24.664414,17.0,62.0,3,104.0
2409,ZZ,FN,13.000000,NaN,13.0,13.0,1,196.0
2410,ZZ,TO,32.000000,NaN,32.0,32.0,1,823.0
2411,ZZ,VU,10.000000,NaN,10.0,10.0,1,0.0
2412,ZZ,W7,0.000000,NaN,0.0,0.0,1,251.0

In [126]:
for i in range(len(ndf1)):
    for n in range(len(ndf1)):
        if ndf1.iloc[i,0] == ndf1.iloc[n,1] and ndf1.iloc[i,1] == ndf1.iloc[n,0]:
            print(i,n)

0 426
1 2124
2 1227
6 510
7 527
8 595
9 684
10 818
11 993
12 1025
13 1062
14 1084
15 1189
16 1228
17 1291
18 1813
19 1954
21 2384
24 596
25 511
26 658
28 132
30 1041
31 1085
32 1713
36 1955
39 429
40 997
42 47
44 660
46 2359
47 42
50 1086
51 2209
57 430
58 431
59 1453
63 375
65 1337
75 1699
80 80
85 1498
92 568
98 1369
106 1474
117 2216
119 119
122 508
123 893
125 169
128 1199
129 1396
130 2031
132 28
133 133
135 260
137 693
138 760
140 1026
141 1089
146 1927
147 2127
148 2274
160 160
163 1314
164 1621
169 125
170 251
171 364
187 1956
188 2258
189 2327
191 498
205 432
208 1091
222 1806
226 400
230 1732
233 569
237 1418
239 1508
244 244
246 1052
251 170
253 253
260 135
261 261
262 299
264 378
265 412
266 433
268 661
269 694
271 838
273 928
275 1092
276 1229
277 1347
278 1455
279 1532
280 1947
282 2087
283 2130
285 2210
286 2259
287 2328
292 434
295 1094
297 1594
299 262
300 300
301 435
302 598
303 616
305 839
306 929
307 1095
308 1268
309 1456
310 1533
312 1790
314 1957
317 2131
318 2231
321 436
324 709
328 1096
330 1958
333 2254
336 796
343 343
345 1370
348 1839
350 437
352 531
354 930
355 1043
356 1098
357 1190
358 1215
359 1230
360 2133
361 2260
364 171
368 1099
369 1254
371 1777
375 63
378 264
382 1342
388 1657
395 584
400 226
403 403
404 413
405 512
406 585
408 1100
409 1734
412 265
413 404
414 414
415 586
416 1073
417 1101
418 1255
420 1597
421 1624
423 2007
424 2077
425 2107
426 0
429 39
430 57
431 58
432 205
433 266
434 292
435 301
436 321
437 350
439 439
440 513
442 555
443 662
444 695
446 742
447 764
448 820
450 847
452 925
453 932
454 973
455 1000
456 1028
457 1044
458 1063
459 1102
461 1231
462 1244
465 1281
466 1293
467 1333
468 1457
471 1500
473 1534
475 1577
476 1579
478 1638
479 1669
480 1752
482 1876
483 1923
485 1983
488 2134
492 2362
493 2381
494 2406
498 191
500 500
501 876
508 122
510 6
511 25
512 405
513 440
514 532
515 663
517 1105
518 1191
520 1350
522 1815
524 2088
525 2135
526 2341
527 7
528 685
531 352
532 514
535 1107
537 1639
544 799
545 1053
546 1385
548 1501
549 1511
555 442
556 578
557 725
558 1045
559 1108
560 1960
562 1371
563 1753
566 1961
568 92
569 233
576 2136
578 556
579 765
584 395
585 406
586 415
588 1074
591 1598
592 1735
595 8
596 24
598 302
599 664
600 726
603 1065
604 1110
607 1536
608 1714
609 1817
611 2262
612 2387
616 303
629 790
632 1679
633 2065
638 1564
639 1796
649 915
650 1111
658 26
660 44
661 268
662 443
663 515
664 599
665 711
666 728
667 871
668 933
669 995
670 1112
671 1232
672 1294
673 1327
674 1458
677 1818
678 1847
679 1964
680 2292
681 2311
682 2363
684 9
685 528
686 712
687 1113
688 1351
690 1819
691 2089
692 2138
693 137
694 269
695 444
697 821
700 1984
703 2304
704 2329
705 2364
709 324
711 665
712 686
713 729
714 767
717 975
718 1114
725 557
726 600
728 666
729 713
730 768
731 823
732 976
733 1115
734 1283
735 1296
741 2408
742 446
751 935
752 1116
760 138
764 447
765 579
767 714
768 730
769 936
770 1117
771 1193
774 1318
776 1539
777 1640
778 1716
779 1887
781 1966
782 2140
783 2330
784 2342
785 2366
786 2382
787 2389
790 629
791 1363
796 336
799 544
802 1036
806 1659
810 1848
818 10
820 448
821 697
823 731
824 824
827 937
828 978
829 1066
830 1119
831 1353
832 2141
833 2185
835 2367
838 271
839 305
843 2186
847 450
850 938
851 1067
852 1121
853 1233
854 1986
855 2142
857 2278
859 2390
863 1436
868 1842
871 667
876 501
883 1607
887 1930
893 123
902 1023
915 649
925 452
928 273
929 306
930 354
932 453
933 668
935 751
936 769
937 827
938 850
939 979
940 1047
941 1123
942 1220
943 1234
945 1459
949 1821
951 1967
952 1987
955 2143
956 2188
957 2343
958 2368
966 1626
967 1680
969 2297
973 454
975 717
976 732
978 828
979 939
980 1125
981 1297
983 1460
985 1968
986 2092
987 2234
988 2265
990 2391
993 11
995 669
997 40
1000 455
1003 1003
1004 1030
1005 1126
1006 1216
1007 1221
1008 1246
1009 1461
1010 1541
1012 1822
1014 1858
1015 2093
1016 2145
1018 2344
1023 902
1025 12
1026 140
1028 456
1030 1004
1033 2146
1034 2345
1036 802
1037 1374
1039 1849
1041 30
1043 355
1044 457
1045 558
1047 940
1049 1823
1052 246
1053 545
1058 1515
1062 13
1063 458
1065 603
1066 829
1067 851
1068 1128
1069 1298
1070 1542
1071 2266
1073 416
1074 588
1084 14
1085 31
1086 50
1089 141
1091 208
1092 275
1094 295
1095 307
1096 328
1098 356
1099 368
1100 408
1101 417
1102 459
1105 517
1107 535
1108 559
1110 604
1111 650
1112 670
1113 687
1114 718
1115 733
1116 752
1117 770
1119 830
1121 852
1123 941
1125 980
1126 1005
1128 1068
1129 1129
1130 1195
1131 1217
1132 1222
1133 1235
1134 1258
1135 1271
1136 1284
1137 1299
1138 1307
1140 1355
1143 1462
1147 1543
1149 1576
1150 1578
1155 1737
1156 1757
1158 1794
1159 1798
1160 1850
1161 1888
1163 1970
1164 1990
1165 2017
1166 2037
1169 2094
1170 2147
1171 2189
1174 2267
1175 2280
1176 2306
1177 2313
1178 2333
1179 2346
1180 2369
1181 2383
1182 2393
1186 1186
1189 15
1190 357
1191 518
1193 771
1195 1130
1196 1825
1197 2148
1199 128
1204 1308
1211 2038
1215 358
1216 1006
1217 1131
1220 942
1221 1007
1222 1132
1223 1248
1226 2347
1227 2
1228 16
1229 276
1230 359
1231 461
1232 671
1233 853
1234 943
1235 1133
1236 1272
1244 462
1246 1008
1248 1223
1249 2150
1254 369
1255 418
1258 1134
1260 1260
1263 2039
1268 308
1271 1135
1272 1236
1274 2255
1277 1745
1279 2286
1281 465
1283 734
1284 1136
1285 1642
1286 1889
1288 2190
1291 17
1293 466
1294 672
1296 735
1297 981
1298 1069
1299 1137
1300 1300
1301 1719
1302 1826
1304 2095
1305 2151
1307 1138
1308 1204
1311 2040
1314 163
1318 774
1320 1320
1321 1628
1324 2080
1327 673
1329 1329
1331 1780
1332 2041
1333 467
1337 65
1342 382
1347 277
1350 520
1351 688
1353 831
1355 1140
1357 2152
1363 791
1369 98
1370 345
1371 562
1374 1037
1376 1376
1377 1518
1385 546
1393 1591
1394 2096
1395 2222
1396 129
1399 1399
1401 1865
1402 2042
1404 2110
1412 1519
1414 1852
1418 237
1432 2043
1436 863
1442 1521
1452 1827
1453 59
1455 278
1456 309
1457 468
1458 674
1459 945
1460 983
1461 1009
1462 1143
1463 1544
1464 1720
1465 1972
1466 2098
1467 2153
1473 1781
1474 106
1479 1609
1490 1610
1498 85
1500 471
1501 548
1508 239
1511 549
1515 1058
1518 1377
1519 1412
1521 1442
1528 1759
1532 279
1533 310
1534 473
1536 607
1539 776
1541 1010
1542 1070
1543 1147
1544 1463
1545 1931
1546 1973
1549 2154
1550 2268
1551 2334
1552 2395
1564 638
1567 1800
1571 1782
1572 1873
1573 2047
1576 1149
1577 475
1578 1150
1579 476
1591 1393
1592 2048
1594 297
1597 420
1598 591
1602 2081
1603 2111
1607 883
1609 1479
1610 1490
1612 1663
1614 2179
1621 164
1624 421
1626 966
1628 1321
1633 2022
1634 2082
1635 2112
1638 478
1639 537
1640 777
1642 1285
1650 1650
1657 388
1659 806
1663 1612
1665 1707
1667 2023
1668 2069
1669 479
1673 2121
1678 1708
1679 632
1680 967
1686 2070
1689 1722
1696 1709
1699 75
1707 1665
1708 1678
1709 1696
1710 1710
1713 32
1714 608
1716 778
1719 1301
1720 1464
1722 1689
1723 1828
1724 1891
1732 230
1734 409
1735 592
1737 1155
1745 1277
1746 1746
1752 480
1753 563
1757 1156
1759 1528
1760 1784
1762 1916
1764 1943
1766 2024
1777 371
1780 1331
1781 1473
1782 1571
1784 1760
1785 1875
1786 2053
1787 2158
1790 312
1794 1158
1796 639
1798 1159
1800 1567
1804 2410
1806 222
1812 2026
1813 18
1815 522
1817 609
1818 677
1819 690
1821 949
1822 1012
1823 1049
1825 1196
1826 1302
1827 1452
1828 1723
1829 2100
1830 2159
1831 2269
1832 2351
1833 2373
1834 2396
1839 348
1842 868
1847 678
1848 810
1849 1039
1850 1160
1852 1414
1853 1853
1855 2160
1858 1014
1861 2161
1862 2237
1863 2352
1865 1401
1868 2072
1873 1572
1875 1785
1876 482
1887 779
1888 1161
1889 1286
1891 1724
1916 1762
1922 2256
1923 483
1924 2102
1927 146
1930 887
1931 1545
1943 1764
1947 280
1954 19
1955 36
1956 187
1957 314
1958 330
1960 560
1961 566
1964 679
1966 781
1967 951
1968 985
1970 1163
1972 1465
1973 1546
1975 2162
1978 2374
1983 485
1984 700
1986 854
1987 952
1990 1164
1993 2163
1995 2270
1997 2375
1998 2397
2007 423
2017 1165
2022 1633
2023 1667
2024 1766
2026 1812
2027 2027
2031 130
2037 1166
2038 1211
2039 1263
2040 1311
2041 1332
2042 1402
2043 1432
2047 1573
2048 1592
2053 1786
2055 2055
2065 633
2069 1668
2070 1686
2072 1868
2077 424
2080 1324
2081 1602
2082 1634
2083 2113
2087 282
2088 524
2089 691
2092 986
2093 1015
2094 1169
2095 1304
2096 1394
2098 1466
2100 1829
2102 1924
2103 2166

2106 2376
2107 425
2110 1404
2111 1603
2112 1635
2113 2083
2114 2114
2121 1673
2123 2123
2124 1
2127 147
2130 283
2131 317
2133 360
2134 488
2135 525
2136 576
2138 692
2140 782
2141 832
2142 855
2143 955
2145 1016
2146 1033
2147 1170
2148 1197
2150 1249
2151 1305
2152 1357
2153 1467
2154 1549
2158 1787
2159 1830
2160 1855
2161 1861
2162 1975
2163 1993
2166 2103
2167 2192
2168 2307
2169 2354
2179 1614
2185 833
2186 843
2188 956
2189 1171
2190 1288
2192 2167
2193 2239
2202 2398
2209 51
2210 285
2216 117
2222 1395
2231 318
2234 987
2237 1862
2239 2193
2241 2272
2243 2336
2244 2377
2245 2399
2254 333
2255 1274
2256 1922
2258 188
2259 286
2260 361
2262 611
2265 988
2266 1071
2267 1174
2268 1550
2269 1831
2270 1995
2272 2241
2273 2400
2274 148
2278 857
2280 1175
2283 2401
2286 1279
2292 680
2294 2402
2297 969
2304 703
2306 1176
2307 2168
2309 2378
2311 681
2313 1177
2327 189
2328 287
2329 704
2330 783
2333 1178
2334 1551
2336 2243
2341 526
2342 784
2343 957
2344 1018
2345 1034
2346 1179
2347 1226
2351 1832
2352 1863
2354 2169
2359 46
2362 492
2363 682
2364 705
2366 785
2367 835
2368 958
2369 1180
2373 1833
2374 1978
2375 1997
2376 2106
2377 2244
2378 2309
2379 2404
2381 493
2382 786
2383 1181
2384 21
2387 612
2389 787
2390 859
2391 990
2393 1182
2395 1552
2396 1834
2397 1998
2398 2202
2399 2245
2400 2273
2401 2283
2402 2294
2404 2379
2406 494
2408 741
2410 1804

# Data cleaning

1. For the unsusal color code

In [171]:
## To see how many unique color in the color and next color code.
print(len(df1['Color'].unique()))
print(len(df1['Next Color Code'].unique()))

267
269

In [172]:
## to see the unusaul color code in the data
print(list(set(df1['Color'].unique()) - set(df1['Next Color Code'].unique())))
print(list(set(df1['Next Color Code'].unique()) - set(df1['Color'].unique())))

[]
['dv', 'DP']

In [174]:
uc = ['DP', 'dv']
df1.loc[df1['Next Color Code'].isin(['DP', 'dv'])]
## Find the unsual color code in the data frame and delete it
len(df1)
newdf1 = df1.set_index('Next Color Code')
newdf1 = newdf1.drop(['DP', 'dv'], axis=0)
newdf2 = df1.set_index('Next Color Code')
newdf2 = newdf2.drop(list(set(df1['Next Color Code'].unique()) - set(df1['Color'].unique())), axis=0)
len(newdf1)

4187

Calculating the # of differnt cast oder in unique color

In [168]:
## Creating a new dataframe without the unusual color code named newdf1
## define a function to delete the unusual data
def delete_unusualcolor(path):
    df1 = pd.read_excel(path,
              header=205, usecols=[0,1,4,5,7,8,9,11,12])
    print('the length of df1 is', len(df1))
    print('the number of unique color', len(df1['Color'].unique()))
    print('the number of unique next color', len(df1['Next Color Code'].unique()))
    print('the unique color exists in the color',
          (set(df1['Color'].unique()) - set(df1['Next Color Code'].unique())))
    print('the unique color exists in the next color',
          list(set(df1['Next Color Code'].unique()) - set(df1['Color'].unique())))
    newdf1 = df1.set_index('Next Color Code')
    newdf1 = newdf1.drop(list(set(df1['Next Color Code'].unique()) - set(df1['Color'].unique())), axis=0)
    print('the length of newdf1 is', len(newdf1))

In [167]:
## nosetest
import pandas as pd
#import delete_unusualcolor as du

def test_delete_unusualcolor():
    path = '../data/OrderColorTransitionsReport 1_1_17 - 4_22_19.xlsx'
    du(path)
    df1 = pd.read_excel('../data/OrderColorTransitionsReport 1_1_17 - 4_22_19.xlsx')
    assert df1.empty == False,'you cannot put in an empty datafrmae'

## Function for the average transition loss

In [13]:
for z in range(len(df1['Color'].unique())):
    list1 = list(df1['Color'].unique())
    color1 = list1[z]
    list2 = list(df1['Next Color Code'].unique())
    for z2 in range(len(df1['Next Color Code'].unique())):
        color2 = list2[z2]
        Select_3(color1, color2)

1M CW
1M WN
2W IP
2W NF
2W VY
3D CW
3D IP
3D VY
3D DA
3D DD
3D DY
3D EZ
3D FN
3D GB
3D GG
3D GS
3D GW
3D HA
3D LH
3D TY
3D WI
3D ZY
3N GW
3Y1 DY
3Y1 DJ
3Z7 DA
3Z7 EY
3Z7 W7
4B VY
4B GW
4B W7
4B AN
4B BN
4B GN
4B SN
4B SV
4B TO
4B UIM
4B XE
4Z1 CW
4Z1 GC
4Z1 PG
4Z2 DA
4Z2 EY
4Z2 4Z3
4Z2 MN
4Z2 ZW
4Z3 CW
4Z3 GW
4Z3 EY
4Z3 ZW
4Z3 4Z2
4Z3 YL
5A 9P
5A B3
5A FM
5A ZT
6H2 CW
6H3 CW
6H3 NL
6N FJ
7B B5
7B BI
7B CN
7B GV
7B MH
7B MS
7B ZC
7B ZQ
7M B5
7R 7B
7R AO
7R DT
7R FS
7R NS
7R SM
7T BN
7T CN
7T MH
7T GM
9H B3
9H FS
9H 9H
9H GY
9H MW
9H OA
9I B3
9I ZC
9I AO
9I 9H
9I AR
9I BE
9I CC
9I DO
9I VN
9I VX
9J 9I
9J FT
9J MP
9J TA
9P B3
AA FM
AA ZT
AA FJ
AA FS
AA CC
AA ER
AA NR
AA VH
AA WXA
AA XN
AB ZC
AB EV
AB FV
AB MV
AB SS
AB W2
AB W3
AE B3
AE FT
AE AA
AE AE
AE CX
AE CXA
AE N3
AH AW
AH BH
AI W7
AI FV
AI HX
AI MT
AI WC
AN WN
AN GG
AN GW
AN ZY
AN AN
AN BN
AN SV
AN PG
AN MN
AN BI
AN 4B
AN B4
AN FA
AN FK
AN FP
AN RR
AN VM
AN ZN
AO FM
AO BE
AO FT
AO PN
AQ GW
AQ BQ
AQ FL
AQ R3
AQ WG
AR CW
AR ZT
AR AR
AR EV
AR AB
AR LN
AR RP
AT B5
AT FT
AT UB
AW WN
AW LH
AW FS
AW VN
AW N3
AW BH
AW AH
AW CL
AW GD
AW NX
AW NXA
B2 CW
B2 VY
B2 FN
B2 AN
B2 7B
B2 AW
B2 B4
B2 BR
B2 ZM
B2 ZU
B3 GC
B3 ZW
B3 FM
B3 MS
B3 FV
B3 CX
B3 CL
B3 EP
B3 PO
B3 RO
B3 TF
B3 VD
B3 W5
B3 WE
B3 WX
B4 CW
B4 GS
B4 GW
B4 FK
B4 RD
B5 GS
B5 GC
B5 SM
B5 CX
B5 W5
B5 7R
B5 BF
B5 CT
B5 FB
B5 FF
B5 FQ
B5 FY
B5 G6
B5 TS
B5 VI
B5 ZI
BD FM
BD ZC
BD CT
BD GT
BD SP
BD SR
BD ZO
BE MW
BE DO
BE FT
BE N3
BE PN
BE FQ
BE SP
BE GO
BE OT
BE VE
BF MS
BF DT
BF OA
BF BE
BF PN
BF BF
BF VI
BF GO
BH B3
BH ZT
BH FS
BH AW
BH BH
BH HX
BH GD
BH ZI
BH RI
BI CW
BI WN
BI IP
BI VY
BI GW
BI WI
BI EY
BI AN
BI BN
BI GN
BI PG
BI MN
BI YL
BI NL
BI BI
BI CN
BI FA
BI FK
BI BQ
BI ZM
BI ZU
BI EP
BI WX
BI FQ
BI CV
BI FO
BI FW
BI VU
BK R3
BL EY
BL FD
BM CW
BM GW
BM BI
BM FA
BM PN
BM RD
BM FO
BN CW
BN WN
BN VY
BN DY
BN GW
BN WI
BN BN
BN PG
BN NL
BN BI
BN W2
BN VM
BN TF
BN FO
BN FW
BN FD
BN B2
BN EC
BN JP
BN RL
BN ZG
BQ VI
BQ CO
BR CW
BR VY
BR DY
BR GW
BR EY
BR XE
BR FK
BR FB
BR FF
BR G6
BR VI
BR ZG
BR ZL
BST FM
BST B5
BST VD
BST SP
BST DMN
CB G6
CC B3
CC FM
CC B5
CC CC
CC MP
CC N3
CC UB
CC ZO
CC BD
CC TU
CJ CW
CJ WN
CJ IP
CJ DA
CJ DY
CJ GW
CJ HA
CJ GN
CJ ZM
CJ FW
CJ DH
CJ IL
CJ ZV
CL GW
CL W7
CL PG
CL BI
CL AW
CL BH
CL AH
CL GD
CL TF
CL W5
CL JC
CL TD
CN DJ
CN B3
CN BI
CN MH
CN ZQ
CN 7B
CN FS
CN DO
CN VX
CN 7R
CN SP
CN OT
CO WN
CO VH
CO FL
CO WG
CO UB
CO SD
CO SL
CS MP
CS SR
CS BD
CS DV
CS VO
CS XW
CT DA
CT GW
CT CC
CT FT
CT W3
CT CT
CT SR
CT CV
CT BD
CT DV
CT CS
CV GW
CV BI
CV RP
CV W5
CV BF
CV CT
CV GT
CV SR
CV CV
CV JC
CV DV
CV QM
CV RF
CV WH
CV WJ
CW CW
CW WN
CW IP
CW VY
CW DA
CW FN
CW GG
CW GS
CW GW
CW LH
CW TY
CW WI
CW DJ
CW EY
CW W7
CW BN
CW GN
CW SV
CW GC
CW PG
CW ZW
CW NL
CW BI
CW OA
CW FT
CW NR
CW W2
CW HX
CW 4B
CW B4
CW FA
CW FK
CW FP
CW RR
CW CL
CW NX
CW BR
CW FF
CW G6
CW OT
CW FO
CW FW
CW FD
CW ZV
CW JC
CW RF
CW 1M
CW 3N
CW 4Z1
CW 6H2
CW 6H3
CW BM
CW CJ
CW DM
CW FVM
CW IY
CW JB
CW LGN
CW M1
CW Q3
CW Q5
CW Q8
CW SF
CW dv
CW V1
CW VL
CW XG
CW XP
CW ZX
CW ZZ
CX WN
CX B3
CX CN
CX FS
CX NR
CX AA
CX CX
CX AW
CX TS
CX RI
CX VO
CXA AA
CXA AE
CXA VO
DA CW
DA WN
DA VY
DA GW
DA HA
DA LH
DA TY
DA WI
DA EY
DA GC
DA PG
DA MN
DA CT
DA DH
DA ZV
DA 3D
DA 3Z7
DD EZ
DD TY
DD RR
DD 3D
DH DA
DH GW
DH LH
DH GN
DH RR
DH FW
DH CJ
DI MS
DJ PG
DJ FM
DJ MS
DJ 9H
DJ OA
DJ CC
DJ DO
DJ N3
DJ BR
DJ ZU
DJ ZI
DJ GO
DJ OT
DJ 6N
DJ VV
DM CW
DM VY
DM GW
DM GN
DM FD
DM CJ
DM DS
DMN SV
DMN ZT
DMN GV
DMN MP
DN CW
DN WN
DN VY
DO WN
DO ZT
DO MW
DO OA
DO BE
DO 9I
DO MP
DO VH
DO UB
DO LL
DS FK
DS DM
DT MW
DT OA
DT 9I
DT FY
DV R3
DV CT
DV GT
DV SR
DV ZO
DV GO
DV CV
DV CS
DV RF
DV WH
DV JF
DY WN
DY GS
DY GW
DY TY
DY ZY
DY EY
DY BN
DY SN
DY PG
DY MN
DY FV
DY 4B
DY ZM
DY G6
DY FD
DY JP
DY 3D
DY 3Y1
EA FT
EA FV
EA NXA
EC GW
EC BN
EC CN
EC SM
EC SS
EC FK
EC PN
EC FQ
EC GO
EC SH
ED 7B
ED FL
ED WG
ED FQ
ED EC
ED 5A
ED MB
ED SI
EP IP
EP FN
EP EY
EP TO
EP HX
EP ZN
EP PO
EP ZV
ER FS
ER VH
ER TE
ER ZE
EV GW
EV MS
EV FV
EV MV
EV FA
EV W5
EV ZI
EV EC
EV MB
EV 7M
EV PBL
EY CW
EY IP
EY VY
EY DA
EY DY
EY GB
EY GW
EY LH
EY TY
EY ZY
EY ZW
EY 4Z2
EY NL
EY BI
EY 4B
EY NX
EY FB
EY OT
EY FW
EY FD
EY 3Z7
EY 2W
EY FR
EY LT
EY UH
EY ZP
EY ZS
EZ WN
EZ DD
EZ GW
EZ TY
EZ WI
EZ MN
EZ MS
EZ FB
EZ 3D
FA CW
FA FN
FA GW
FA AN
FA MN
FA ZW
FA YL
FA BI
FA W2
FA ZU
FA FD
FA ZG
FA ZX
FA ZR
FB EZ
FB GW
FB ZY
FB EY
FB 4B
FB FK
FB BR
FB ZM
FB G6
FB FO
FB FD
FB ZG
FB ZZ
FB FR
FB AQ
FB CB
FD WN
FD VY
FD DY
FD FN
FD GW
FD LH
FD EY
FD XE
FD MN
FD CN
FD AR
FD FK
FD FB
FD G6
FD EC
FD DM
FD LGN
FD ZZ
FD RU
FF CW
FF FN
FF GW
FF PG
FF SM
FF ZU
FF G6
FF ZV
FH GW
FH BN
FH MW
FH FW
FJ AE
FJ BF
FJ FQ
FJ FD
FJ VZ
FJ XD
FK CW
FK WN
FK VY
FK DY
FK GW
FK HA
FK ZY
FK AN
FK SN
FK PG
FK MN
FK ZW
FK RR
FK VM
FK LN
FK ZU
FK CT
FK FB
FK FW
FK FD
FK B2
FK JP
FK ZV
FK BM
FK LGN
FK ZX
FK DS
FK VDT
FL DJ
FL OA
FL SL
FL 5A
FL ED
FL MO
FM GW
FM TY
FM DJ
FM SV
FM UIM
FM PG
FM ZT
FM FJ
FM GM
FM VX
FM SS
FM CX
FM R3
FM W5
FM VI
FM FW
FM CO
FM SD
FM UH
FM AQ
FM XD
FM BK
FM BST
FM VF
FN CW
FN WN
FN FN
FN GS
FN GW
FN ZY
FN AN
FN XE
FN MN
FN ZW
FN FA
FN FP
FN FB
FN G6
FN FW
FN FD
FN 3D
FN FR
FN ZJ
FO WI
FO BN
FO XE
FO BI
FO AA
FO FA
FO WJ
FP CW
FP WN
FP IP
FP GS
FP GW
FP ZY
FP 4Z2
FP W2
FP AA
FP FK
FP ZN
FP BR
FP FW
FP EC
FP ZG
FP ZR
FQ EY
FQ ZC
FQ NS
FQ EV
FQ AE
FQ N3
FQ WG
FQ UB
FQ SL
FQ SI
FQ PBL
FR EY
FR FP
FR ZG
FR ZS
FS MS
FS SS
FS CX
FS VM
FS FL
FS R3
FS LN
FS UB
FS BR
FS W5
FS WX
FS VI
FS RI
FS WH
FS LGN
FS ED
FT W7
FT CN
FT ZC
FT 7B
FT FS
FT SM
FT AR
FT 9I
FT FV
FT AE
FT CXA
FT CL
FT W5
FT TS
FT SR
FT XW
FT CS
FT WJ
FT ZZ
FT SI
FT ED
FT GF
FT VQ
FU R3
FV WN
FV GW
FV EV
FV MV
FV MT
FV LN
FV RP
FV VI
FV UX
FV WM
FVM CW
FVM ZZ
FW CW
FW WN
FW IP
FW VY
FW FN
FW GW
FW LH
FW TY
FW WI
FW ZY
FW EY
FW W7
FW BN
FW GN
FW XE
FW ZW
FW 4Z2
FW NL
FW BI
FW W2
FW FK
FW FP
FW RR
FW VM
FW CL
FW NX
FW G6
FW FD
FW ZV
FW CJ
FW FH
FW IM
FW SK
FY FJ
FY ZQ
FY AR
FY EV
FY FV
FY RP
FY VO
FY 5A
FY SI
FY AQ
G5 AR
G6 CW
G6 VY
G6 FN
G6 GW
G6 LH
G6 TY
G6 WI
G6 ZY
G6 EY
G6 MN
G6 NL
G6 4B
G6 FK
G6 ZM
G6 ZU
G6 FB
G6 FW
G6 FD
G6 B2
G6 ZG
G6 ZZ
G7 AR
GB EY
GB DH
GB 3D
GC CW
GC WN
GC GG
GC GW
GC TY
GC WI
GC BN
GC UIM
GC GC
GC PG
GC NL
GC BI
GC 4B
GC FP
GC ZU
GC FW
GC IL
GC ZV
GC 4Z1
GC IY
GC UH
GC IM
GC PX
GD B5
GD ZC
GD N3
GF DO
GF FT
GF MP
GG CW
GG WN
GG DA
GG AN
GG GC
GG BH
GG GO
GG ZV
GG LGN
GG 3D
GM FM
GM SM
GM MP
GM UH
GM BST
GN CW
GN WN
GN TY
GN ZY
GN EY
GN AN
GN MP
GN 4B
GN FW
GN CJ
GN DM
GN 3D
GO GW
GO DJ
GO EY
GO ZC
GO DO
GO MP
GO RO
GO BF
GO OT
GS CW
GS DY
GS FN
GS GW
GS LH
GS ZY
GS PG
GS FP
GS ZM
GS DM
GS 3D
GS 2W
GT GY
GT G6
GT CV
GT DV
GV FM
GV B5
GV ZQ
GV FS
GV VH
GV FQ
GW CW
GW WN
GW IP
GW VY
GW DA
GW DD
GW DY
GW EZ
GW FN
GW GG
GW GS
GW GW
GW HA
GW LH
GW WI
GW ZY
GW EY
GW W7
GW AN
GW BN
GW SV
GW TO
GW XE
GW GC
GW PG
GW 4Z3
GW MN
GW ZW
GW YL
GW NL
GW BI
GW MH
GW DT
GW AR
GW 9I
GW NR
GW EV
GW W2
GW CX
GW CXA
GW N3
GW 4B
GW B4
GW FK
GW FP
GW RR
GW VM
GW ZN
GW FL
GW WG
GW RP
GW CL
GW NX
GW BR
GW ZM
GW ZU
GW TF
GW W5
GW CT
GW FB
GW FY
GW G6
GW SR
GW OT
GW CV
GW FO
GW FW
GW FD
GW JP
GW ZG
GW DH
GW IL
GW ZV
GW JC
GW SL
GW QM
GW WH
GW 1M
GW BM
GW CJ
GW DM
GW FVM
GW LGN
GW ZX
GW 3D
GW 7M
GW UH
GW ZS
GW ZR
GW VDT
GW BST
GW FH
GW IM
GW PX
GW BL
GW LI
GW NE
GW Q4
GW Q6
GW SX
GY MS
GY AO
GY GY
GY CC
GY VD
GY BF
HA WN
HA DA
HA EZ
HA GW
HA TY
HA FK
HA FW
HA CJ
HA 3D
HX W7
HX BN
HX FM
HX AE
HX GD
HX TS
HX JC
HX TE
HX UX
HX LI
HX SX
HX AI
HX MX
HX RV
HXA FM
HXA AA
HXA RV
IL GW
IL GC
IL ZN
IL CJ
IM CW
IM GW
IM WI
IM GC
IM ZU
IM FW
IM ZV
IM IY
IP CW
IP WN
IP GW
IP TY
IP EY
IP W7
IP TO
IP XE
IP BI
IP FP
IP FW
IP JP
IP CJ
IP 3D
IP 2W
IP SK
IP RC
IY CW
IY WN
IY GC
IY FP
IY IL
IY IM
JB W7
JB CL
JC VY
JC GW
JC WI
JC W7
JC 4Z3
JC AW
JC CL
JC GD
JC ZM
JC W5
JC CV
JC JC
JC EA
JC HXA
JF FY
JF B2
JP IP
JP GW
JP BN
JP FP
JP FB
JP ZL
JP XP
JV AR
JV EV
JV SS
JV W5
JV ZO
LGN CW
LGN GW
LGN XE
LGN 4B
LGN RR
LGN WE
LGN FD
LGN DH
LGN ZV
LGN VDT
LH CW
LH WN
LH VY
LH GS
LH GW
LH LH
LH TY
LH WI
LH EY
LH SN
LH FA
LH G6
LH FD
LH CJ
LH 3D
LH 2W
LI CW
LI GW
LI W7
LI N3
LI HX
LI RC
LL CC
LN W7
LN SM
LN AR
LN EV
LN FK
LN AB
LN LN
LN RP
LN BR
LN ZO
LN CV
LN FO
LN WH
LT EY
LT W7
LT FS
LT CL
LT TD
LT LT
LT PX
M1 CW
M1 DN
MB DJ
MB 7B
MH WN
MH BI
MH CN
MH GV
MH 7B
MH 9H
MH FT
MH 7R
MH BF
MN WN
MN DA
MN EZ
MN FN
MN GW
MN WI
MN 4Z3
MN BI
MN FS
MN CL
MN BR
MN FB

MN ZG
MN ZV
MN ZX
MN ZZ
MO CN
MO MH
MO NS
MO FL
MO XW
MP SV
MP FM
MP ZT
MP GV
MP ZQ
MP SM
MP GM
MP 9H
MP CC
MP 9I
MP FT
MP MP
MP UB
MP OT
MP DMN
MP 9J
MS WI
MS DJ
MS ZC
MS AO
MS MW
MS OA
MS BE
MS DO
MS MP
MS PN
MS GO
MS OT
MS RC
MT GW
MT W7
MT MT
MT WC
MT WJ
MT LI
MT AI
MT RC
MT UR
MV GW
MV GV
MV MS
MV FS
MV DO
MV WC
MV RP
MV VI
MV OT
MV UH
MV GF
MV DI
MW DJ
MW GV
MW BE
MW CC
MW MP
MW N3
MW FY
MW ZO
MW TU
MW GF
MW 9J
MX W7
MX BN
MX JC
MX 3D
MX LT
N3 WN
N3 EY
N3 SV
N3 TO
N3 ER
N3 FV
N3 MV
N3 WC
N3 4B
N3 RP
N3 NX
N3 FQ
N3 FY
N3 OT
N3 SD
N3 JV
NE W7
NF TY
NF MV
NF HX
NL CW
NL WN
NL VY
NL GW
NL WI
NL EY
NL BN
NL SN
NL GC
NL PG
NL B3
NL BI
NL ZN
NL G6
NL FW
NL 6H3
NP JC
NP TD
NP CJ
NP LT
NP LI
NR B5
NR FT
NR AA
NR N3
NR UB
NR FQ
NR RI
NS CN
NS 7B
NS GM
NS 7T
NX BE
NX AE
NX CL
NX WE
NX TS
NX RI
NX B2
NX JB
NX UX
NX SX
NX RV
NXA FS
NXA RI
OA CW
OA DJ
OA 9H
OA MW
OA 9I
OA MP
OA VH
OA RO
OA GO
OA G7
OT DJ
OT NL
OT GV
OT DT
OT FS
OT GY
OT MW
OT BE
OT CC
OT FT
OT MP
OT TA
OT MV
OT N3
OT W5
OT BF
OT VI
OT GO
PBL SV
PBL FM
PBL MS
PBL VH
PG CW
PG WN
PG VY
PG DY
PG GS
PG GW
PG WI
PG ZY
PG EY
PG BN
PG GC
PG NL
PG BI
PG 7B
PG FT
PG EV
PG 4B
PG FK
PG VM
PG ZM
PG ZU
PG WJ
PG DN
PN FM
PN ZT
PN B5
PN GV
PN FS
PN VX
PN UB
PN W5
PN GF
PN AT
PO GW
PO TO
PO 4B
PO NX
PO EP
PX W7
PX JC
PX TD
PX UX
PX SX
PX MX
Q3 Q4
Q4 CW
Q4 GW
Q5 CW
Q6 GW
Q8 CW
QM GY
QM MW
QM TU
R3 GW
R3 W7
R3 SV
R3 CO
R3 1M
R3 PBL
RC W7
RC MS
RC ZV
RC JC
RC HXA
RD CW
RD BM
RF FQ
RF GT
RF VE
RF CV
RF BD
RF DV
RF WH
RF WJ
RF XG
RI B3
RI B5
RI FS
RI FT
RI NR
RI WXA
RI NX
RI WX
RI SD
RI RV
RL SF
RL WM
RL NP
RO GM
RO 9I
RO XG
RP BN
RP SV
RP SM
RP GM
RP AR
RP DO
RP LN
RP RO
RP W5
RP CT
RP FY
RP CV
RP RF
RP WH
RP WJ
RR CW
RR TO
RR GC
RR VH
RR 4B
RR FK
RR DH
RR LGN
RR 3D
RR U5
RU NS
RU GM
RU FT
RU SH
RU RU
RU 7T
RV WN
RV ZQ
RV FT
RV NR
SD FM
SD CN
SD FS
SD SM
SD SS
SD FL
SD WG
SD W5
SD RI
SD CO
SD SL
SD PBL
SD MO
SF CW
SF TO
SF UX
SF WM
SF NP
SH GV
SH MS
SH SM
SH EV
SH MO
SI GM
SI OA
SI SS
SI WG
SI FY
SI SD
SI SL
SI ED
SK SN
SK FK
SK 3D
SL ZY
SL FS
SL SM
SL SS
SL 7R
SL GO
SL EC
SL RU
SL MO
SM GW
SM NL
SM FS
SM SM
SM EV
SM SS
SM AB
SM 7R
SM CO
SM SD
SM SL
SM SH
SM MO
SN DY
SN LH
SN TY
SN PG
SN NL
SN W2
SN 4B
SN FA
SN FK
SN VM
SN FW
SN JC
SN 3D
SN VDT
SN SK
SP FM
SP GV
SP 9I
SP PN
SP AT
SR GW
SR ZT
SR NL
SR FJ
SR BI
SR ZQ
SR W5
SR CT
SR OT
SR BD
SR DV
SS ZT
SS BI
SS AR
SS SS
SS VI
SS ZO
SS JV
SV CW
SV GW
SV ZY
SV NL
SV BI
SV ZC
SV VN
SV FT
SV FV
SV VD
SV W5
SV FQ
SV VI
SV DMN
SV TD
SV VO
SV PBL
SV VZ
SV XD
SV 9J
SX W7
SX W5
SX JC
SX EA
TA PN
TA GO
TD WN
TD W7
TD SV
TD GC
TD CL
TD LT
TD UX
TD PX
TD LI
TD AI
TD RC
TD NP
TE AA
TE W5
TF CW
TF GW
TF W7
TF BN
TF EP
TF FW
TO GW
TO LH
TO GN
TO W2
TO R3
TO EP
TO PO
TO WX
TO ZZ
TS DA
TS B5
TS ZQ
TS ER
TS AA
TS FW
TU DJ
TU W5
TY WN
TY NF
TY DA
TY DY
TY EZ
TY GS
TY HA
TY LH
TY WI
TY ZY
TY EY
TY GN
TY SN
TY GC
TY ZW
TY 4B
TY FP
TY ZM
TY FW
TY ZV
TY DV
TY 3D
U5 CW
UB B3
UB FM
UB B5
UB CC
UB ER
UB N3
UB FQ
UB SP
UB XW
UB BST
UH WN
UH GW
UH ZY
UH EY
UH MN
UH FM
UH BI
UH GM
UH MV
UH W2
UH WX
UH UH
UIM WN
UIM GW
UIM GC
UIM VM
UIM ZG
UIM ZV
UR MT
UR AI
UWG BI
UWG WG
UWG XW
UWG AQ
UX TD
UX LT
UX PX
UX SX
UX AI
UX MX
V1 CW
V1 FW
V1 Q3
VD CW
VD GW
VD DJ
VD BN
VD GC
VD SS
VD WG
VD W5
VDT GW
VDT SN
VDT FK
VDT LGN
VDT RV
VE DV
VF SV
VH CW
VH GW
VH SV
VH B3
VH FM
VH AW
VH VD
VH W5
VH ZO
VH SL
VH ED
VH MO
VH FU
VI GN
VI SV
VI AR
VI N3
VI FP
VI LN
VI RP
VI VD
VI W5
VI FY
VI ZL
VI SD
VI SL
VI WH
VI WJ
VI XG
VL CW
VL WI
VL ZN
VM CW
VM WN
VM W7
VM AN
VM PG
VM FS
VM SS
VM W2
VM ZU
VM 7R
VM ZV
VM BM
VN SM
VN CX
VN CS
VO WN
VO SV
VO 9I
VO VH
VO SL
VQ ED
VU BI
VU ZP
VV ZI
VX B3
VX GM
VX FT
VX BF
VY WN
VY NF
VY GW
VY WI
VY EY
VY BN
VY GN
VY PG
VY ZW
VY YL
VY NL
VY ZC
VY 4B
VY FA
VY FK
VY BR
VY G6
VY FW
VY B2
VY DH
VY DV
VY DM
VY 3D
VY DS
VY DN
VZ GM
VZ WG
W2 CW
W2 WN
W2 VY
W2 FN
W2 GS
W2 GW
W2 ZY
W2 W7
W2 ZW
W2 FA
W2 FP
W2 BR
W2 ZM
W2 G6
W2 FW
W2 ZP
W2 ZJ
W2 BL
W3 EV
W3 RP
W3 EP
W5 CW
W5 EZ
W5 GW
W5 HA
W5 SV
W5 TO
W5 AR
W5 FV
W5 AA
W5 AE
W5 WG
W5 LN
W5 RP
W5 NX
W5 EP
W5 W5
W5 WX
W5 BF
W5 CV
W5 FW
W5 EC
W5 TU
W5 SD
W5 DV
W5 WH
W5 AQ
W5 MX
W5 EA
W5 DP
W7 GW
W7 W7
W7 BN
W7 B3
W7 NR
W7 CX
W7 HX
W7 MT
W7 RP
W7 NX
W7 BR
W7 FF
W7 RI
W7 RL
W7 JC
W7 TD
W7 SF
W7 LT
W7 WM
W7 PX
W7 LI
W7 AI
W7 MX
W7 RC
W7 UR
W7 NP
WC W7
WC MS
WC MW
WE FJ
WE FS
WE AW
WE TS
WG ZT
WG ZQ
WG SM
WG FL
WG VI
WG FD
WG EC
WG SD
WG XW
WG SI
WG ED
WG FH
WG UWG
WH LN
WH RP
WH GT
WH GO
WH CV
WH RF
WH WJ
WH ZE
WI WN
WI DA
WI EZ
WI GW
WI LH
WI TY
WI GC
WI ZW
WI NL
WI B5
WI BI
WI MS
WI FT
WI 4B
WI ZM
WI FB
WI G6
WI SR
WI ZV
WI VL
WI UH
WI MX
WJ CW
WJ MT
WJ RP
WJ ZI
WJ CV
WJ DV
WJ RF
WJ WH
WJ WJ
WM CW
WM HX
WM TD
WM SF
WM WM
WM PX
WM LI
WM MX
WN CW
WN VY
WN DA
WN EZ
WN FN
WN GG
WN GW
WN HA
WN LH
WN TY
WN WI
WN EY
WN W7
WN AN
WN BN
WN SV
WN UIM
WN XE
WN GC
WN PG
WN MN
WN NL
WN BI
WN 9H
WN DO
WN W2
WN HX
WN 4B
WN FK
WN FP
WN WG
WN FY
WN FW
WN B2
WN ZV
WN TD
WN 1M
WN CJ
WN IY
WN ZZ
WN UH
WN ZR
WN AQ
WN CB
WN FH
WN Q6
WN RC
WX NR
WX AA
WX AW
WX BH
WX CL
WX WE
WX HXA
WXA FS
WXA RI
XD CN
XD W3
XD BF
XE WN
XE VY
XE FN
XE GW
XE FB
XE FO
XE FW
XE ZG
XE DM
XE LGN
XE FR
XG DJ
XG BI
XG VH
XN WI
XP DY
XP ZY
XP PG
XP ZW
XP B2
XW GW
XW FO
XW CO
XW 5A
XW AQ
XW ED
YL CW
YL ZY
YL SV
YL 4Z3
YL BI
YL ZN
YL BR
ZC CW
ZC ZT
ZC MS
ZC GM
ZC CX
ZC AB
ZC W5
ZC SP
ZC SD
ZC PBL
ZC ED
ZC BST
ZE W5
ZE ZI
ZG ZY
ZG BN
ZG UIM
ZG XE
ZG ZW
ZG YL
ZG B5
ZG W2
ZG FK
ZG ZN
ZG ZM
ZG ZU
ZG RD
ZG FF
ZG G6
ZG LGN
ZI GM
ZI ER
ZI MV
ZI WG
ZI VI
ZI ED
ZJ FA
ZJ FP
ZL BR
ZL VI
ZL JP
ZM CW
ZM DY
ZM GS
ZM GW
ZM TY
ZM ZY
ZM EY
ZM AN
ZM PG
ZM BI
ZM W2
ZM G6
ZM FW
ZM B2
ZM ZG
ZM CJ
ZM XP
ZN GW
ZN ZY
ZN AN
ZN BN
ZN W2
ZN FA
ZN FP
ZN G6
ZN FO
ZN IY
ZO NL
ZO FS
ZO SM
ZO AR
ZO N3
ZO WG
ZO JV
ZP ZY
ZP EY
ZP BI
ZP G6
ZQ N3
ZQ WX
ZQ FY
ZQ CV
ZQ SL
ZQ QM
ZQ SI
ZQ TE
ZQ AT
ZR WN
ZR GW
ZR ZW
ZR FA
ZR FF
ZR ZV
ZS GS
ZS GW
ZS EY
ZS JF
ZS 7T
ZT GW
ZT SV
ZT BI
ZT DT
ZT N3
ZT PO
ZT VD
ZT W5
ZT VI
ZT ZI
ZT SH
ZT G5
ZU GW
ZU XE
ZU PG
ZU ZW
ZU BI
ZU FA
ZU FK
ZU FP
ZU FW
ZU B2
ZU ZG
ZU ZS
ZV WN
ZV IP
ZV DA
ZV GG
ZV GW
ZV TY
ZV AN
ZV UIM
ZV GC
ZV ZW
ZV FK
ZV RR
ZV CL
ZV FW
ZV ZG
ZV IY
ZV VDT
ZV IM
ZW CW
ZW VY
ZW FN
ZW GW
ZW TY
ZW WI
ZW ZY
ZW EY
ZW AN
ZW PG
ZW MN
ZW 4Z2
ZW W2
ZW MT
ZW FA
ZW FK
ZW BR
ZW FF
ZW FW
ZW ZG
ZW 3D
ZW 3Z7
ZW ZR
ZX CW
ZX GW
ZX BI
ZX FK
ZY CW
ZY DY
ZY GW
ZY TY
ZY GC
ZY PG
ZY MN
ZY ZW
ZY W2
ZY BH
ZY FK
ZY FP
ZY ZN
ZY ZM
ZY EP
ZY G6
ZY ZG
ZY XP
ZY 3D
ZY ZP
ZY ZR
ZZ CW
ZZ DY
ZZ FN
ZZ W7
ZZ TO
ZZ VU
ZZ FD
ZZ B2

In [17]:
colors = df1['Color'].unique().tolist()
colors.sort()
colors
shape = (len(colors), len(colors))
matrix = np.zeros(shape)
for i in range(0, len(colors)):
    for j in range(0, len(colors)):
        value = df2['ts_mean'].loc[(df2['Color'] == colors[i]) &
                                   (df2['Next Color Code'] == colors[j])].tolist()
        matrix[i, j] = value[0]

NameError: name 'df2' is not defined

In [212]:
def Select_2(color1, color2):
    color = df1['Color'] == color1
    nextcolorcode = df1 ['Next Color Code'] == color2
    ndf = df1[color & nextcolorcode]
    if len(ndf) == 0:
        return
    else:
        n = 0
        for i in range(len(ndf)-1):
            if ndf.iloc[i,0] != ndf.iloc[i+1,0]:
                n = n + 1
        print (color1, color2, n + 1)
        tl = 0
        for i in range(len(ndf)):
            tl = tl + int(ndf.iloc[i,8])
            tl = tl/(n+1)
        print (color1, color2, 'cycles:', n + 1, 'average transition sheet loss:', tl)

In [39]:
def Select_2(color1, color2):
    color = df1['Color'] == color1
    nextcolorcode = df1 ['Next Color Code'] == color2
    ndf = df1[color & nextcolorcode]
    if len(ndf) == 0:
        return
    else:
        n = 0
        for i in range(len(ndf)-1):
            if ndf.iloc[i,0] != ndf.iloc[i+1,0]:
                n = n + 1
        tl = 0
        for i in range(len(ndf)):
            tl = tl + int(ndf.iloc[i,8])
            tl = tl/(n+1)
        print (color1, color2, 'cycles:', n + 1, 'average transition sheet loss:', tl)

Telling how many cast order do you have for each color code

In [40]:
for z in range(len(df1['Color'].unique())):
    list1 = list(df1['Color'].unique())
    color1 = list1[z]
    list2 = list(df1['Next Color Code'].unique())
    for z2 in range(len(df1['Next Color Code'].unique())):
        color2 = list2[z2]
        Select_2(color1, color2)

1M CW cycles: 2 average transition sheet loss: 84.53125
1M WN cycles: 1 average transition sheet loss: 9.0
2W IP cycles: 1 average transition sheet loss: 5.0
2W NF cycles: 1 average transition sheet loss: 42.0
2W VY cycles: 1 average transition sheet loss: 20.0
3D CW cycles: 2 average transition sheet loss: 31.5
3D IP cycles: 1 average transition sheet loss: 214.0
3D VY cycles: 2 average transition sheet loss: 12.25
3D DA cycles: 1 average transition sheet loss: 29.0
3D DD cycles: 1 average transition sheet loss: 13.0
3D DY cycles: 3 average transition sheet loss: 28.530864197530864
3D EZ cycles: 1 average transition sheet loss: 253.0
3D FN cycles: 1 average transition sheet loss: 13.0
3D GB cycles: 1 average transition sheet loss: 23.0
3D GG cycles: 1 average transition sheet loss: 21.0
3D GS cycles: 1 average transition sheet loss: 29.0
3D GW cycles: 2 average transition sheet loss: 11.75
3D HA cycles: 1 average transition sheet loss: 35.0
3D LH cycles: 1 average transition sheet loss: 27.0
3D TY cycles: 3 average transition sheet loss: 10.460905349794238
3D WI cycles: 1 average transition sheet loss: 210.0
3D ZY cycles: 1 average transition sheet loss: 16.0
3N GW cycles: 1 average transition sheet loss: 4.0
3Y1 DY cycles: 1 average transition sheet loss: 47.0

KeyboardInterrupt:

In [22]:
Select('1M' , 'CW')

,Cast Order,Color,Next Cast Order,Next Color Code,Cast Start,Cast End Time,Total Sheets,AGrade Sheets,Transition Sheets
0,11570714,1M,11569110,CW,08/02/17 15:13,08/02/17 15:54,103,1,124
1,11570714,1M,11569110,CW,08/02/17 16:00,08/02/17 16:39,97,NaN,109
2,11570714,1M,11569110,CW,08/02/17 20:50,08/02/17 21:15,61,NaN,173
3,11570714,1M,11569110,CW,08/03/17 15:15,08/03/17 15:53,93,NaN,95
4,11570714,1M,11569110,CW,08/03/17 20:28,08/04/17 03:10,984,895,88
5,11636116,1M,11637958,CW,04/13/18 22:56,04/14/18 11:27,"1,088",391,69

### 2. For the fail rate

In [17]:
print (df1['AGrade Sheets'].isnull())

0       False
1        True
2        True
3        True
4       False
        ...
4184     True
4185    False
4186    False
4187     True
4188    False
Name: AGrade Sheets, Length: 4189, dtype: bool

The total number of number of failing sheets

In [69]:
print ('total number of our data is', len(df1))

total number of our data is 4189

In [70]:
print ('the fail sheets number is', (df1['AGrade Sheets'].isnull().sum()))

the fail sheets number is 919

## data collecting
### take a look at the df2 and pick up the most frequently used color code

### Sorting the dataframe 
    1. 10 most demanding color
    2. 10 highest transition cost
    3. 10 hiest sales rank
    4. 10 most frequent sequence
    5. 10 highest sub family number
    6. 10 biggest mean transition loss

In [67]:
##Importing the second dataframe: variable cost per sheet
df2 = df_desc = pd.read_excel('../data/Variable cost per sheet.xlsx',
                header=3)

In [68]:
df2.dtypes

Line                       object
CC DIM                     object
D code                     object
2019 GLBL STD              object
Super Clean                object
Demand                      int64
Sales Rank                  int64
Sales Rank Cat             object
Family                     object
Sub Family                 object
Updt Sub Family            object
Color                      object
Sub Family Number           int64
Sequence                  float64
VCOM                      float64
TCOM                      float64
Mean Trans Loss           float64
Transition penalty        float64
Family Transition Cost    float64
Transition Cost           float64
Update Family Seq           int64
dtype: object

In [69]:
## we need to deal with the NaN and , in the dataframe
df2 = df2.fillna(0)

In [70]:
df2['CC DIM'] = [x.replace('1/2', '').replace('1/4', '').replace('3/4', '') for x in df_desc['CC DIM']]

In [76]:
df2.drop_duplicates(inplace=True)

In [77]:
df2

,Line,CC DIM,D code,2019 GLBL STD,Super Clean,Demand,Sales Rank,Sales Rank Cat,Family,Sub Family,...,Color,Sub Family Number,Sequence,VCOM,TCOM,Mean Trans Loss,Transition penalty,Family Transition Cost,Transition Cost,Update Family Seq
0,CSL2,3D,D12516781,NM,0,2693,107,R5 101+,Standard,Genesis,...,Clay,2,44.0,117.357384,156.761945,105.846154,0.0,0.0,12421.827745,2
1,CSL2,4B,D13901285,Std,0,5189,83,R4 51-100,Standard,Lustra,...,Sparkling White,3,58.0,155.064526,208.946769,41.400000,0.0,0.0,6419.671385,3
2,CSL1,7B,D11975095,Std,0,5475,26,R2 11-30,Granite,Summit,...,Maui,2,20.0,125.609690,187.432048,27.600000,0.0,0.0,3466.827448,2
3,CSL2,AA,D12361842,Std,0,6566,94,R4 51-100,Granite,Artisan,...,Lava Rock,1,6.0,146.220113,212.491799,36.916667,11187.0,0.0,16584.959182,1
4,CSL1,AB,D11972996,Std,0,10840,15,R2 11-30,Granite,Summit,...,Abalone,2,19.0,115.219542,171.037488,44.500000,0.0,0.0,5127.269602,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,CSL1,WN,D14289513,Std,0,6431,25,R2 11-30,Standard,Genesis,...,Designer White,5,67.0,123.968959,167.036338,200.878788,0.0,0.0,24902.734305,5
153,CSL2,WN,D14289513,Std,0,20544,25,R2 11-30,Standard,Genesis,...,Designer White,2,32.0,123.968959,167.036338,200.878788,0.0,0.0,24902.734305,2
154,CSL1,WN,D14318801,Std,0,5278,27,R2 11-30,Standard,Genesis,...,Designer White,5,64.0,83.601819,136.142435,222.833333,0.0,0.0,18629.272065,5
155,CSL2,WN,D14318801,Std,0,5169,27,R2 11-30,Standard,Genesis,...,Designer White,2,24.0,83.601819,136.142435,222.833333,0.0,0.0,18629.272065,2
156,CSL2,WX,D15522746,Std,0,5486,98,R4 51-100,Granite,Artisan,...,Weathered Concrete,1,22.0,284.926886,402.139686,83.625000,11187.0,0.0,35014.010831,1

In [60]:
## define a function for sorting the data by colums and rank from high to low.
##and you can adjust the n to see the number of rows you want
def sort_hightolow(df2, colums, n):
    df2_demanding = df2.sort_values(by=[colums],ascending=False)
    return df2_demanding.head(n=n)

In [61]:
## define a function for sorting the data by colums and rank from low to high
def sort_lowtohigh(df2, colums):
    df2_demanding = df2.sort_values(by=[colums],ascending=True)
    return df2_demanding.head(n=n)

Questions:
#### 1. How to find the relationship between the color and the family subfamily?
2. what are VCOM & TCOM
3. which parameters are more important??
4. question: how many color code we should look at?2Ams 20 - 30
5. how should we collect if the number is close to each other?

## Jointing two data together to obtain the average sheet loss for the the family

1. combining two dataframes

In [18]:
df2.loc[df2['CC DIM'] == 'AN1/2']

,Line,CC DIM,D code,2019 GLBL STD,Super Clean,Demand,Sales Rank,Sales Rank Cat,Family,Sub Family,...,Color,Sub Family Number,Sequence,VCOM,TCOM,Mean Trans Loss,Transition penalty,Family Transition Cost,Transition Cost,Update Family Seq
7,CSL1,AN1/2,D11972735,NM,NaN,2439,47,R3 31-50,Standard,Lustra,...,Anthracite,6,83.0,234.813363,302.05087,113.411765,NaN,NaN,26630.59793,6
8,CSL2,AN1/2,D11972735,NM,NaN,1765,47,R3 31-50,Standard,Lustra,...,Anthracite,3,57.0,234.813363,302.05087,113.411765,NaN,NaN,26630.59793,3

In [49]:
len(df1)

4189

In [54]:
print(len(df1['Color'].unique()))

267

In [53]:
family_df

    Color    family sub_family             pigment
0      3D  Standard    Genesis                Clay
1      4B  Standard     Lustra     Sparkling White
2      7B   Granite     Summit                Maui
3      AA   Granite    Artisan           Lava Rock
4      AB   Granite     Summit             Abalone
..    ...       ...        ...                 ...
148    WI  Standard    Genesis        Modern White
150    WJ   Granite   Concrete       White Jasmine
151    WM   Granite    Artisan       Whipped Cream
152    WN  Standard    Genesis      Designer White
156    WX   Granite    Artisan  Weathered Concrete

[126 rows x 4 columns]

In [79]:
len(df1)

4189

In [80]:
# remove gauge strings from data file and set series values
products = [x.replace('1/2', '').replace('1/4', '').replace('3/4', '') for x in df_desc['CC DIM']]
families = df2['Family']
sub_families = df2['Sub Family']
colors = df2['Color']

# create new dataframe and drop duplicates (repeat values for lines 1 and 2)
family_df = pd.DataFrame([products, families, sub_families, colors]).T
family_df.columns = ['Color','family','sub_family','pigment']
family_df.drop_duplicates(inplace=True)

# inner merge with main dataframe
dff = pd.merge(df1, family_df, how='inner', on='Color')
family_df.columns = ['Next Color Code','family','sub_family','pigment']
dff = pd.merge(dff, family_df, how='inner', on='Next Color Code')
family_df.columns = ['Color','family','sub_family','pigment']
dff

,Cast Order,Color,Next Cast Order,Next Color Code,Cast Start,Cast End Time,Total Sheets,AGrade Sheets,Transition Sheets,Total sheets,family_x,sub_family_x,pigment_x,family_y,sub_family_y,pigment_y
0,11528319,3D,11530682,CW,03/09/17 18:22,03/09/17 19:15,108,93.0,14.0,108,Standard,Genesis,Clay,Standard,Genesis,CAMEO WHITE
1,12661978,3D,12665266,CW,08/26/18 18:10,08/27/18 06:14,942,557.0,56.0,942,Standard,Genesis,Clay,Standard,Genesis,CAMEO WHITE
2,11617183,AR,11622902,CW,02/21/18 22:45,02/22/18 00:57,181,105.0,82.0,181,Granite,Sierra,Aurora,Standard,Genesis,CAMEO WHITE
3,11504211,BI,11504231,CW,01/09/17 17:46,01/09/17 19:52,300,0.0,308.0,300,Standard,Genesis,BISQUE,Standard,Genesis,CAMEO WHITE
4,11504211,BI,11504231,CW,01/10/17 00:01,01/10/17 06:18,912,840.0,10.0,912,Standard,Genesis,BISQUE,Standard,Genesis,CAMEO WHITE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1933,12684530,SS,12684566,JV,12/02/18 04:24,12/02/18 06:49,302,234.0,72.0,302,Granite,Sierra,Sandstone,Granite,Sierra,Mojave
1934,11591107,TY,11591095,NF,11/25/17 00:32,11/25/17 00:48,16,0.0,32.0,16,Standard,Genesis,ATHENA GRAY,Standard,Genesis,Nightfall
1935,11591107,TY,11591095,NF,11/25/17 03:19,11/25/17 05:26,257,226.0,16.0,257,Standard,Genesis,ATHENA GRAY,Standard,Genesis,Nightfall
1936,11630158,VY,11632105,NF,04/02/18 00:59,04/02/18 03:42,340,273.0,54.0,340,Standard,Genesis,SILVER GRAY,Standard,Genesis,Nightfall
1937,11561141,WN,11548541,AQ,06/18/17 14:07,06/18/17 16:28,291,216.0,183.0,291,Standard,Genesis,Designer White,Granite,Sierra,Aqua

In [23]:
print(len(dff['family_x'].unique()))
print(len(dff['sub_family_x'].unique()))

2
8

In [94]:
dff2 = dff.groupby(['Color','Next Color Code']).agg({'Transition Sheets':
                                           ['mean', 'std', 'min', 'max', 'count'],'AGrade Sheets':['sum']})
dff2

                      Transition Sheets                                 \
                                   mean        std    min    max count
Color Next Color Code
3D    CW                           35.0  29.698485   14.0   56.0     2
      DA                           14.5   0.707107   14.0   15.0     2
      GG                           21.0        NaN   21.0   21.0     1
      GS                           14.5   3.535534   12.0   17.0     2
      GW                           16.5   3.535534   14.0   19.0     2
...                                 ...        ...    ...    ...   ...
WX    AW                           31.0  16.970563   19.0   43.0     2
      BH                           50.0        NaN   50.0   50.0     1
      CL                           75.0  53.740115   37.0  113.0     2
      NR                          273.0        NaN  273.0  273.0     1
      WE                           67.0        NaN   67.0   67.0     1

                      AGrade Sheets
                                sum
Color Next Color Code
3D    CW                      650.0
      DA                      640.0
      GG                        0.0
      GS                      180.0
      GW                      474.0
...                             ...
WX    AW                      827.0
      BH                      693.0
      CL                     1206.0
      NR                       42.0
      WE                      367.0

[841 rows x 6 columns]

In [98]:
dff2.columns = ['ts_mean', 'ts_std', 'ts_min', 'ts_max', 't_count','AGS_sum']
dff2 = dff2.reset_index()
dff2

,Color,Next Color Code,ts_mean,ts_std,ts_min,ts_max,t_count,AGS_sum
0,3D,CW,35.0,29.698485,14.0,56.0,2,650.0
1,3D,DA,14.5,0.707107,14.0,15.0,2,640.0
2,3D,GG,21.0,NaN,21.0,21.0,1,0.0
3,3D,GS,14.5,3.535534,12.0,17.0,2,180.0
4,3D,GW,16.5,3.535534,14.0,19.0,2,474.0
...,...,...,...,...,...,...,...,...
836,WX,AW,31.0,16.970563,19.0,43.0,2,827.0
837,WX,BH,50.0,NaN,50.0,50.0,1,693.0
838,WX,CL,75.0,53.740115,37.0,113.0,2,1206.0
839,WX,NR,273.0,NaN,273.0,273.0,1,42.0
840,WX,WE,67.0,NaN,67.0,67.0,1,367.0

Obtaining the 30 produced most products

In [103]:
ndf = sort_hightolow(dff2, 'AGS_sum', 30)
ndf

,Color,Next Color Code,ts_mean,ts_std,ts_min,ts_max,t_count,AGS_sum
823,WN,GW,92.937500,143.116022,0.0,569.0,16,51841.0
192,CW,GW,54.619048,106.722292,3.0,480.0,21,48745.0
369,GW,GW,29.031250,58.649580,0.0,244.0,32,47181.0
56,AR,LN,51.285714,39.773258,5.0,144.0,14,23894.0
280,EV,MV,20.461538,18.333100,2.0,69.0,13,21177.0
93,BI,GW,21.470588,16.225434,1.0,60.0,17,20578.0
457,LI,RC,40.285714,20.344649,15.0,70.0,7,20282.0
359,GW,CW,94.074074,166.582372,6.0,755.0,27,19576.0
470,LT,TD,79.000000,39.698866,32.0,128.0,6,18193.0
532,NL,GW,49.666667,71.309186,12.0,237.0,9,15966.0
458,LN,AB,38.692308,28.790579,2.0,113.0,13,15156.0
26,AB,EV,25.100000,15.110335,9.0,51.0,10,13533.0
109,BN,GW,53.333333,79.962491,5.0,247.0,9,12592.0
426,IP,GW,51.750000,48.749359,18.0,161.0,8,12297.0
500,MT,AI,66.357143,94.365580,0.0,316.0,14,11369.0
397,GW,WN,84.294118,109.784883,10.0,387.0,17,11005.0
629,RP,WJ,14.000000,4.821825,9.0,23.0,9,10870.0
210,CW,WN,58.400000,103.431340,1.0,454.0,20,10741.0
580,PG,GW,81.444444,106.816561,6.0,304.0,9,10554.0
746,UX,TD,35.500000,18.119971,20.0,57.0,4,10338.0
817,WN,CW,68.200000,79.679357,1.0,238.0,20,9821.0
13,4B,GW,72.714286,82.056311,13.0,241.0,7,9812.0
800,WJ,RP,15.571429,6.579188,7.0,26.0,7,9753.0
285,EY,GW,49.166667,59.683890,13.0,170.0,6,9473.0
463,LN,RP,32.166667,26.895477,1.0,63.0,6,8750.0
168,CV,DV,32.166667,22.462561,6.0,58.0,6,8106.0
776,WH,CV,32.600000,36.425266,0.0,85.0,5,7831.0
510,MV,MS,13.750000,7.088723,4.0,21.0,4,7718.0
501,MT,GW,10.000000,NaN,10.0,10.0,1,7558.0
252,DV,CT,11.000000,4.560702,5.0,18.0,6,7285.0

In [104]:
print('Number of unique Colors:', len(ndf['Color'].unique()))
print('Number of unique Next Colors:', len(ndf['Next Color Code'].unique()))
print(list(set(ndf['Color'].unique()) - set(ndf['Next Color Code'].unique())))
print(list(set(ndf['Next Color Code'].unique()) - set(ndf['Color'].unique())))

Number of unique Colors: 24
Number of unique Next Colors: 16
['AR', 'NL', 'WH', 'MT', 'LI', 'BN', 'BI', 'LT', 'PG', 'IP', 'UX', 'EY', '4B']
['RC', 'TD', 'CT', 'AI', 'MS']

In [115]:
len(dff2)

841

Searching for the relationship between the color code and the transition sheets.

In [137]:
for i in range(len(dff2)):
    for n in range(len(dff2)):
        if dff2.iloc[i,0] == dff2.iloc[n,1] and dff2.iloc[i,1] == dff2.iloc[n,0]:
            if dff2.iloc[i,7] == dff2.iloc[n,7]:
                print(dff2.iloc[i,0],dff2.iloc[i,1], dff2.iloc[i,7])
                print(dff2.iloc[n,0], dff2.iloc[n,1],dff2.iloc[n,7])

3D GG 0.0
GG 3D 0.0
AE AE 3.0
AE AE 3.0
AN AN 15.0
AN AN 15.0
AR AR 2344.0
AR AR 2344.0
BF BF 257.0
BF BF 257.0
BH BH 264.0
BH BH 264.0
BI BI 170.0
BI BI 170.0
BN BN 932.0
BN BN 932.0
CC CC 26.0
CC CC 26.0
CJ GN 0.0
GN CJ 0.0
CT CT 1562.0
CT CT 1562.0
CV CV 809.0
CV CV 809.0
CW CW 110.0
CW CW 110.0
CX CX 3325.0
CX CX 3325.0
DA WN 0.0
WN DA 0.0
EY IP 0.0
IP EY 0.0
GC GC 1522.0
GC GC 1522.0
GC TY 0.0
TY GC 0.0
GG 3D 0.0
3D GG 0.0
GG WN 0.0
WN GG 0.0
GN CJ 0.0
CJ GN 0.0
GW GW 47181.0
GW GW 47181.0
GW IM 0.0
IM GW 0.0
GY GY 78.0
GY GY 78.0
IM GW 0.0
GW IM 0.0
IP EY 0.0
EY IP 0.0
JC JC 52.0
JC JC 52.0
LH LH 255.0
LH LH 255.0
LH SN 0.0
SN LH 0.0
LN LN 4785.0
LN LN 4785.0
LT LT 11.0
LT LT 11.0
MP MP 2.0
MP MP 2.0
MT MT 2317.0
MT MT 2317.0
SM SM 237.0
SM SM 237.0
SN LH 0.0
LH SN 0.0
SS SS 769.0
SS SS 769.0
TY GC 0.0
GC TY 0.0
WJ WJ 1273.0
WJ WJ 1273.0
WM WM 305.0
WM WM 305.0
WN DA 0.0
DA WN 0.0
WN GG 0.0
GG WN 0.0

In [105]:
print(list(set(dff['Color'].unique()) - set(dff['Next Color Code'].unique())))
print(list(set(dff['Next Color Code'].unique()) - set(dff['Color'].unique())))

[]
['GD', 'ER', 'GV', 'NE']

### The mean value of transition sheet loss for different family

In [27]:
dff.groupby(['family_x', 'sub_family_x']).agg({'Transition Sheets':['mean','std','min','max','count']})

                      Transition Sheets
                                   mean         std  min    max count
family_x sub_family_x
Granite  Artisan              75.161905   92.910063  0.0  541.0   210
         Concrete             35.333333   51.863414  0.0  483.0   162
         Magna                38.297872   64.977714  0.0  609.0   188
         Mega Magna           33.166667   33.204919  1.0   83.0     6
         Sierra               58.300000   75.265927  0.0  565.0   140
         Summit               32.263158   37.023630  1.0  273.0    95
Standard Artisan              87.928571  116.122518  0.0  491.0    28
         Genesis              54.663217   93.744541  0.0  897.0  1063
         Lustra               73.521739   76.030619  2.0  371.0    46

## creating dataframe