## data cleaning

In the reality, we have some unusual data, before we input the data, we need to perform the data cleaning.
1. Unusual color code that only used once  2. Fail rate

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Importing the first dataframe: ordercolor transition report

In [3]:
df1 = pd.read_excel('../data/OrderColorTransitionsReport 1_1_17 - 4_22_19.xlsx',
              header=205, usecols=[0,1,4,5,7,8,9,11,12])

In [4]:
df1.head()

,Cast Order,Color,Next Cast Order,Next Color Code,Cast Start,Cast End Time,Total Sheets,AGrade Sheets,Transition Sheets
0,11570714,1M,11569110,CW,08/02/17 15:13,08/02/17 15:54,103,1,124
1,11570714,1M,11569110,CW,08/02/17 16:00,08/02/17 16:39,97,NaN,109
2,11570714,1M,11569110,CW,08/02/17 20:50,08/02/17 21:15,61,NaN,173
3,11570714,1M,11569110,CW,08/03/17 15:15,08/03/17 15:53,93,NaN,95
4,11570714,1M,11569110,CW,08/03/17 20:28,08/04/17 03:10,984,895,88

Importing the second dataframe: variable cost per sheet

In [5]:
df2 = df_desc = pd.read_excel('../data/Variable cost per sheet.xlsx',
                header=3)

In [6]:
df2.head()

,Line,CC DIM,D code,2019 GLBL STD,Super Clean,Demand,Sales Rank,Sales Rank Cat,Family,Sub Family,...,Color,Sub Family Number,Sequence,VCOM,TCOM,Mean Trans Loss,Transition penalty,Family Transition Cost,Transition Cost,Update Family Seq
0,CSL2,3D1/2,D12516781,NM,NaN,2693,107,R5 101+,Standard,Genesis,...,Clay,2,44.0,117.357384,156.761945,105.846154,NaN,NaN,12421.827745,2
1,CSL2,4B1/2,D13901285,Std,NaN,5189,83,R4 51-100,Standard,Lustra,...,Sparkling White,3,58.0,155.064526,208.946769,41.400000,NaN,NaN,6419.671385,3
2,CSL1,7B1/2,D11975095,Std,NaN,5475,26,R2 11-30,Granite,Summit,...,Maui,2,20.0,125.609690,187.432048,27.600000,NaN,NaN,3466.827448,2
3,CSL2,AA1/2,D12361842,Std,NaN,6566,94,R4 51-100,Granite,Artisan,...,Lava Rock,1,6.0,146.220113,212.491799,36.916667,11187.0,NaN,16584.959182,1
4,CSL1,AB1/2,D11972996,Std,NaN,10840,15,R2 11-30,Granite,Summit,...,Abalone,2,19.0,115.219542,171.037488,44.500000,NaN,NaN,5127.269602,2

1. For the unsusal color code

To see how many unique color in the color and next color code.

In [21]:
print(len(df1['Color'].unique()))
print(len(df1['Next Color Code'].unique()))

267
269

In [23]:
print(list(set(df1['Color'].unique()) - set(df1['Next Color Code'].unique())))
print(list(set(df1['Next Color Code'].unique()) - set(df1['Color'].unique())))

[]
['DP', 'dv']

In [38]:
uc = ['DP', 'dv']

In [41]:
df1.loc[df1['Next Color Code'].isin(['DP', 'dv'])]

,Cast Order,Color,Next Cast Order,Next Color Code,Cast Start,Cast End Time,Total Sheets,AGrade Sheets,Transition Sheets
887,11621393,CW,11621091,dv,02/10/18 03:42,02/10/18 14:54,"1,004",971,14
3512,11548686,W5,11552521,DP,05/31/17 00:25,05/31/17 03:19,254,142,76

Find the unsual color code in the data frame and delete it

In [42]:
len(df1)

4189

In [46]:
df1.drop('Next Color Code'=['DP'],['dv'], axis=0)

SyntaxError: keyword can't be an expression (<ipython-input-46-09f544788a25>, line 1)

2. For the fail rate

In [17]:
print (df1['AGrade Sheets'].isnull())

0       False
1        True
2        True
3        True
4       False
        ...
4184     True
4185    False
4186    False
4187     True
4188    False
Name: AGrade Sheets, Length: 4189, dtype: bool

The total number of number of failing sheets

In [19]:
print (df1['AGrade Sheets'].isnull().sum())

919

In [11]:
fail_rate = ['NA']

## data collecting
### right now we are tring to use the color code and transition sheet as our parameters

## creating dataframe