In [6]:
import pandas as pd
import numpy as np

## Data importing

## Nueral network building

here, we tried to build a random matrix and tried to find the combination to get the minimium value

In [17]:
df = pd.DataFrame(np.random.randint(0,100,size=(4, 4)), columns=list('ABCD'), index=list('ABCD'))

In [18]:
df

    A   B   C   D
A  57  46  65  13
B  90  94  69  57
C  66   2  13  11
D  50  89  44  67