In [2]:
import pandas as pd
import numpy as np

## Data importing

## Nueral network building

here, we tried to build a random matrix and tried to find the combination to get the minimium value

In [3]:
transition_matrix = pd.DataFrame(np.random.randint(0,100,size=(4, 4)), columns=list('ABCD'), index=list('ABCD'))

In [4]:
transition_matrix

    A   B   C   D
A  37  29  32  17
B  43  54  70  72
C  19  72  82  45
D  91  98  97  79